<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <meta charset="utf-8">
    <title>Palindrome Checker</title>
</head>
<body>
    <div class="container">
        <h1>Palindrome Checker!</h1>
        <form action="/results">
            <div class="form-group">
                <label for="input_word">Enter your word:</label>
                <input type="text" name="input_word">
            </div>
            <button type="submit" class="btn btn-success">Chickity Check It</button>
        </form>
    </div>
</body>
</html>
